﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    
    <link href="~/Content/context-li.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script>
        $.ajax({
            url: "/Users/GetJson",
            method: "GET",
            dataType: "Json",
        })
            .done(function (json) {
                var lis = "", tabla, concat;
                
                $.each(json, function (i, val) {    //cantidad de filas (object)
                    $.each(val, function (j, v) { //recorrer los datos

                        lis += "<li>" + v + "</li>";

                        tabla += "<td>" + v + "</td>";
                        
                        //$(".lista").append("<li>" + v + "</li>");
                    });
                    
                    lis += "<hr>";
                    
                    concat += "<tr>" + tabla + "</tr>";
                    tabla = "";
                });
                
                var ul = $(".lista").append(lis);
                $(ul).append("<br>");
                
                $(".table").append(concat);
            })
        
    </script>
</body>
</html>
